{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block content %}

		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--start breadcrumb-->
				<section class="py-3 border-bottom d-none d-md-flex">
					<div class="container">
						<div class="page-breadcrumb d-flex align-items-center">
							<h3 class="breadcrumb-title pe-3">Оформление заказа</h3>
							<div class="ms-auto">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb mb-0 p-0">
										<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i> Начало</a>
										</li>
										<li class="breadcrumb-item"><a href="{% url 'cart' %}">Корзина</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">Оформление</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</section>
				<!--end breadcrumb-->
				<!--start shop cart-->
				<section class="py-4">
					<div class="container">
						<div class="shop-cart">
							<div class="row">
                                <div class="card bg-transparent rounded-0 shadow-none">
											<div class="card-body">
												<div class="steps steps-light">
													<a class="step-item active" href="{% url 'cart' %}">
														<div class="step-progress"><span class="step-count">1</span>
														</div>
														<div class="step-label"><i class='bx bx-cart'></i>Корзина</div>
													</a>
													<a class="step-item active current" href="{% url 'checkout' %}">
														<div class="step-progress"><span class="step-count">2</span>
														</div>
														<div class="step-label"><i class='bx bx-user-circle'></i>Данные</div>
													</a>
													<a class="step-item" href="checkout-review.html">
														<div class="step-progress"><span class="step-count">3</span>
														</div>
														<div class="step-label"><i class='bx bx-check-circle'></i>Готово</div>
													</a>
												</div>
											</div>
										</div>
                                <form class="row" method="post" action="{% url 'make_order' %}">
                                {% csrf_token %}
								<div class="col-12 col-xl-8">
									<div class="checkout-details">
										<div class="card rounded-0">
											<div class="card-body">
												<div class="border p-3">
													<h2 class="h5 mb-0">Данные заказа</h2>
													<div class="my-3 border-bottom"></div>
													<div class="form-body">
														<div class="row g-3">
															<div class="col-md-6">
																<label class="form-label">Имя</label>
																{% crispy_field form.first_name 'class' 'form-control rounded-0' 'value' customer.user.first_name %}
															</div>
															<div class="col-md-6">
																<label class="form-label">Фамилия</label>
																{% crispy_field form.last_name 'class' 'form-control rounded-0' 'value' customer.user.last_name %}
															</div>
															<div class="col-md-6">
																<label class="form-label">Телефон</label>
																{% crispy_field form.phone 'class' 'form-control rounded-0' 'value' customer.phone %}
															</div>
                                                            <div class="col-md-6">
																<label class="form-label">Способ получения</label>
																{% crispy_field form.buying_type %}
															</div>
															<div class="col-md-12">
																<label class="form-label">Адрес</label>
																{% crispy_field form.address 'class' 'form-select rounded-0' %}
															</div>
                                                            <div class="col-md-12">
																<label class="form-label">Комментарий к заказу</label>
																{% crispy_field form.comment 'class' 'form-control rounded-0' %}
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-xl-4">
									<div class="checkout-form p-3 bg-dark-1">
										<div class="card rounded-0 border bg-transparent shadow-none">
											<div class="card-body">
												<h2 class="h5 mb-0">Итог заказа</h2>
												<div class="my-3 border-bottom"></div>
												<div class="mb-3">
                                                    {% for item in cart.products.all %}
                                                    <p class="mb-2">{{ item.content_object.name }}<span class="float-end"> - {{ item.final_price }} руб.</span>
                                                    </p>
                                                    {% endfor %}
												</div>
											</div>
										</div>
										<div class="card rounded-0 border bg-transparent mb-0 shadow-none">
											<div class="card-body">
												<p class="mb-2">Итог корзины: <span class="float-end">{{ cart.final_price }} руб.</span>
												</p>
												<p class="mb-2">Доставка: <span class="float-end">0,00 руб.</span>
												</p>
												<div class="my-3 border-top"></div>
												<h5 class="mb-0">Всего: <span class="float-end">{{ cart.final_price }} руб.</span></h5>
												<div class="my-4"></div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="d-grid">
                                                            <a href="{% url 'cart' %}" class="btn btn-light btn-ecomm"><i class='bx bx-chevron-left'></i>В корзину</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="d-grid">
                                                            <button type="submit" class="btn btn-white btn-ecomm">Заказать</button>
                                                        </div>
                                                    </div>
                                                </div>
											</div>
										</div>
									</div>
								</div>
                                </form>
							</div>
							<!--end row-->
						</div>
					</div>
				</section>
				<!--end shop cart-->
			</div>
		</div>
		<!--end page wrapper -->

{% endblock content %}