{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--start page wrapper -->
    <div class="page-wrapper">
        <div class="page-content">
            <!--start breadcrumb-->
            <section class="py-3 border-bottom d-none d-md-flex">
                <div class="container">
                    <div class="page-breadcrumb d-flex align-items-center">
                        <h3 class="breadcrumb-title pe-3">Заказ {{ order }}</h3>
                        <div class="ms-auto">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0 p-0">
                                    <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="bx bx-home-alt"></i> Начало</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{% url 'account' %}">Аккаунт</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">заказ {{ order }}</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
            <!--end breadcrumb-->
            <!--start shop cart-->
            <section class="py-4">
                <div class="container">
                    <div class="shop-cart">
                        <div class="row">
                            <div class="col-12 col-xl-8">
                                <div class="checkout-review">
                                    <div class="card  rounded-0 shadow-none">
                                        <div class="card-body">
                                            <h5 class="mb-0">Детали вашего заказа</h5>
                                            <div class="my-3 border-bottom"></div>
                                            {% for item in order.cart.products.all %}
                                            <div class="row align-items-center g-3">
                                                <div class="col-12 col-lg-8">
                                                    <div class="d-lg-flex align-items-center gap-2">
                                                        <div class="cart-img text-center text-lg-start">
                                                            <img src="{{ item.content_object.image.url }}" width="130" alt="">
                                                        </div>
                                                        <div class="cart-detail text-center text-lg-start">
                                                            <h6 class="mb-2">{{ item.content_object.name }}</h6>
                                                            <p class="mb-0">Объем: <span>{{ item.content_object.volume }}</span>
                                                            </p>
                                                            <h5 class="mb-0">{{ item.content_object.price }} руб.</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-4">
                                                    <div class="cart-action text-center">
                                                        <p class="mb-0">Количество: <h6>{{ item.qty }}</h6>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="my-4 border-top"></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="card rounded-0 shadow-none">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="shipping-aadress">
                                                        <h5 class="mb-3">Shipping to:</h5>
                                                        <p class="mb-1"><span class="text-light">Customer:</span> Jhon Michle</p>
                                                        <p class="mb-1"><span class="text-light">Address:</span> 47-A, Street Name, City, Australia</p>
                                                        <p class="mb-1"><span class="text-light">Phone:</span> (123) 472-796</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="payment-mode">
                                                        <h5 class="mb-3">Payment Mode:</h5>
                                                        <img src="assets/images/icons/visa.png" width="150" class="p-2 border bg-light rounded" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-4">
                                <div class="checkout-form p-3 bg-dark-1">
                                    <div class="card rounded-0 border bg-transparent shadow-none">
                                        <div class="card-body">
                                            <p class="fs-5 text-white">Apply Discount Code</p>
                                            <div class="input-group">
                                                <input type="text" class="form-control rounded-0" placeholder="Enter discount code">
                                                <button class="btn btn-light btn-ecomm" type="button">Apply Discount</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card rounded-0 border bg-transparent shadow-none">
                                        <div class="card-body">
                                            <p class="fs-5 text-white">Estimate Shipping and Tax</p>
                                            <div class="my-3 border-top"></div>
                                            <div class="mb-3">
                                                <label class="form-label">Country Name</label>
                                                <select class="form-select rounded-0">
                                                    <option selected>United States</option>
                                                    <option value="1">Australia</option>
                                                    <option value="2">India</option>
                                                    <option value="3">Canada</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">State/Province</label>
                                                <select class="form-select rounded-0">
                                                    <option selected>California</option>
                                                    <option value="1">Texas</option>
                                                    <option value="2">Canada</option>
                                                </select>
                                            </div>
                                            <div class="mb-0">
                                                <label class="form-label">Zip/Postal Code</label>
                                                <input type="email" class="form-control rounded-0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card rounded-0 border bg-transparent mb-0 shadow-none">
                                        <div class="card-body">
                                            <p class="mb-2">Subtotal: <span class="float-end">$198.00</span>
                                            </p>
                                            <p class="mb-2">Shipping: <span class="float-end">--</span>
                                            </p>
                                            <p class="mb-2">Taxes: <span class="float-end">$14.00</span>
                                            </p>
                                            <p class="mb-0">Discount: <span class="float-end">--</span>
                                            </p>
                                            <div class="my-3 border-top"></div>
                                            <h5 class="mb-0">Order Total: <span class="float-end">212.00</span></h5>
                                            <div class="my-4"></div>
                                            <div class="d-grid"> <a href="javascript:;" class="btn btn-white btn-ecomm">Proceed to Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end row-->
                    </div>
                </div>
            </section>
            <!--end shop cart-->
        </div>
    </div>
    <!--end page wrapper -->

{% endblock content %}