asgiref==3.4.1
cart==1.2.1
crispy-bootstrap5==0.6
decorator==5.1.0
Django==3.2.8
django-active-link==0.1.8
django-ckeditor==6.1.0
django-crispy-forms==1.13.0
django-environ==0.7.0
django-js-asset==1.2.2
django-mptt==0.13.4
extended==0.0.8
gunicorn==20.1.0
null==0.6.1
phone==0.4.3
Pillow==8.3.2
psycopg2-binary==2.8.6
pycryptodome==3.11.0
pytz==2021.1
self==2020.12.3
six==1.16.0
sqlparse==0.4.2
