{% load static %}

{% block content %}

 <!--Main Navigation-->
  <header>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="{% static 'img/text_logo.png' %}" height="35"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
          aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"><strong class="text-uppercase">Начало</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#brends"><strong class="text-uppercase">Бренды</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#catalog"><strong class="text-uppercase font-weight-bold dark-grey-text">Каталог</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#contact"><strong class="text-uppercase">Контакты</strong></a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">

              <li class="nav-item">
               <a class="nav-link waves-effect waves-light" title="Группа ВКонтакте"><i class="fab fa-vk fa-2x"></i></a>
              </li>
              <li class="nav-item">
                 <i class="nav-link grey-text-3 fas fa-ellipsis-v fa-2x"></i>
              </li>
              {% if not request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="{% url 'login' %}" title="Вход для пользователя"><i class="fas fa-sign-in-alt fa-2x"></i></a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="{% url 'account' %}" title="Личный кабинет"><i class="fas fa-house-user fa-2x"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="{% url 'logout' %}" title="Выход"><i class="fas fa-sign-out-alt fa-2x"></i></a>
              </li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>

  </header>
  <!--Main Navigation-->

{% endblock %}