{% load static %}
{% url 'index' as index_url %}
{% url 'brands' as brands_url %}
{% url 'categories' as categories_url %}
{% url 'account' as account_url %}

{% block content %}

	<div class="header-wrapper bg-dark-1">
        <div class="top-menu border-bottom">
            <div class="container">
                <nav class="navbar navbar-expand">
                    <div class="shiping-title text-uppercase font-13 text-white d-none d-sm-flex">MOSCOW SPIRITS</div>
                    <ul class="navbar-nav ms-auto d-none d-lg-flex">
                        <li class="nav-item"> <a class="nav-link" href="about-us.html">О нас</a>
                        </li>
                        <li class="nav-item"> <a class="nav-link" href="shop-categories.html">Наши магазины</a>
                        </li>
                        <li class="nav-item"> <a class="nav-link" href="blog.html">Статьи</a>
                        </li>
                        <li class="nav-item">	<a class="nav-link" href="contact-us.html">Контвкты</a>
                        </li>
                        <li class="nav-item">	<a class="nav-link" href="javascript:;">Помощь</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav social-link ms-lg-2 ms-auto">
                        <li class="nav-item"> <a class="nav-link" href="javascript:;"><i class='bx bxl-facebook'></i></a>
                        </li>
                        <li class="nav-item"> <a class="nav-link" href="javascript:;"><i class='bx bxl-twitter'></i></a>
                        </li>
                        <li class="nav-item"> <a class="nav-link" href="javascript:;"><i class='bx bxl-linkedin'></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header-content pb-3 pb-md-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col col-md-auto">
                        <div class="d-flex align-items-center">
                            <div class="mobile-toggle-menu d-lg-none px-lg-2" data-trigger="#navbar_main"><i class='bx bx-menu'></i>
                            </div>
                            <div class="logo d-none d-lg-flex">
                                <a href="{% url 'index' %}">
                                    <img src="{% static 'assets/images/logo_white_v_sm.png' %}" class="logo-icon" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md order-4 order-md-2">
                        <div class="input-group flex-nowrap px-xl-4">
                            <input type="text" class="form-control w-100" placeholder="Поиск">
                            <select class="form-select flex-shrink-0" aria-label="Default select example" style="width: 10.5rem;">
                                <option selected>Все категории</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>	<span class="input-group-text cursor-pointer"><i class='bx bx-search'></i></span>
                        </div>
                    </div>
                    <div class="col col-md-auto order-3 d-none d-xl-flex align-items-center">
                        <div class="fs-1 text-white"><i class='bx bx-headphone'></i>
                        </div>
                        <div class="ms-2">
                            <p class="mb-0 font-13">ПОЗВОНИТЕ НАМ</p>
                            <h5 class="mb-0">8(495)555-55-55</h5>
                        </div>
                    </div>
                    <div class="col col-md-auto order-2 order-md-4">
                        <div class="top-cart-icons">
                            <nav class="navbar navbar-expand">
                                <ul class="navbar-nav ms-auto">
                                    <li class="nav-item"><a href="javascript:;" class="nav-link cart-link"><i class='bx bx-user'></i></a>
                                    </li>
                                    <li class="nav-item"><a href="javascript:;" class="nav-link cart-link"><i class='bx bx-heart'></i></a>
                                    </li>
                                    <li class="nav-item dropdown dropdown-large">
                                        <a href="#" class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative cart-link" data-bs-toggle="dropdown">
                                            {% if cart.products.count %}
                                            <span class="alert-count">{{ cart.products.count }}</span>
                                            {% endif %}
                                            <i class='bx bx-shopping-bag'></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a href="">
                                                <div class="cart-header">
                                                    <p class="cart-header-title mb-0">{{ cart.products.count }} ТОВАРА\ОВ</p>
                                                    <a href="{% url 'cart' %}" class="cart-header-clear btn btn-sm btn-outline-warning ms-auto mb-0">В КОРЗИНУ</a>
                                                </div>
                                            </a>
                                            <div class="cart-list">
                                                {% for item in cart.products.all %}
                                                <a class="dropdown-item" href="">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-grow-1">
                                                            <h6 class="cart-product-title">{{ item.content_object.name }}</h6>
                                                            <p class="cart-product-price">{{ item.qty }} X {{ item.final_price }} Руб.</p>
                                                        </div>
                                                        <div class="position-relative">
                                                            <div class="cart-product-cancel position-absolute">
                                                                <i class='bx bx-x'>
                                                                </i>
                                                            </div>
                                                            <div class="cart-product">
                                                                <img src="{{ item.content_object.image.url }}" class="" alt="item.content_object.name">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                {% endfor %}
                                            </div>
                                            <a href="javascript:;">
                                                <div class="text-center cart-footer d-flex align-items-center">
                                                    <h5 class="mb-0">ИТОГО</h5>
                                                    <h5 class="mb-0 ms-auto">{{ cart.final_price }} руб.</h5>
                                                </div>
                                            </a>
                                            <div class="d-grid p-3 border-top">	<a href="{% url 'checkout' %}" class="btn btn-light btn-ecomm">ОФОРМИТЬ</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end row-->
            </div>
        </div>
{% include '_primary_menu.html' %}
    </div>
    <!--end top header wrapper-->

{% endblock %}