{% load static %}
<!doctype html>
<html lang="ru">
    <head>
        <!-- Обязательные метатеги -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
        <!-- Bootstrap CSS -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/mdb.css' %}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <title>{{ title }}</title>
      </head>
    <body class="software-lp">
        {% include '_header.html' %}

        <main>
        {% block content %}
        {% endblock %}
        </main>
        <footer>

        </footer>


          <!-- Bootstrap core JavaScript -->
          <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

          <!-- MDB core JavaScript -->
          <script type="text/javascript" src="{% static 'js/mdb.js' %}"></script>

    </body>
</html>