{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="card spirits-gradient wow fadeIn mt-4">
        <!-- Content -->
        <div class="card-body text-white mb-1 mt-2">
          <div class="container">
              <hr class="spirits-dark-gradient mt-4">
              <div class="row">
                  <div class="col-md-2 col-xs-12">
                      <img class="img-fluid mt-1" src="{% static 'img/logo_white_v_sm.png' %}">
                  </div>
                  <div class="col-md-10 col-xs-12 mt-2 float-left">
                      <h2 class="title mt-3">Корзина <span class="text-dark">заказов</span></h2>
                  </div>
              </div>
          </div>

        </div>
        <!-- Content -->
    </section>

<h3 class="text-center mt-5 mb-5">Ваша корзина {% if not cart.products.count %}пуста{% endif %}</h3>
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
{% endif %}
{% if cart.products.count %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Наименование</th>
      <th scope="col">Изображение</th>
      <th scope="col">Цена</th>
      <th colspan="2" scope="col">Кол-во</th>
        <th scope="col">Общая цена</th>
      <th scope="col">Действие</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart.products.all %}
        <tr>
          <th scope="row">{{ item.category }} | {{ item.product.title }}</th>
          <td><img src="{{ item.product.image.url }}" class="img-fluid" style="width: 150px;"></td>
          <td>{{ item.content_object.price }} руб.</td>
          <td scope="row">
            <form action="{% url 'change_qty' slug=item.product.slug %}" method="POST">
              {% csrf_token %}
                    <input type="number" class="form-control" name="qty" style="width: 70px;" min="1" value="{{ item.qty }}">
          </td>
          <td scope="row">
              <button type="submit" class="btn btn-primary"><i class="fas fa-sync-alt"></i></button>
            </form>
          </td>
            <td>{{ item.final_price }} руб.</td>
          <td>
            <a href="{% url 'delete_from_cart' slug=item.product.slug %}"><button class="btn btn-danger"><i class="fas fa-trash"></i></button></a>
          </td>
        </tr>
    {% endfor %}
        <tr>
          <td colspan="3"></td>
          <td>Итого:</td>
          <td>{{ cart.total_products }}</td>
          <td><strong>{{ cart.final_price }} руб.</strong></td>
          <td><a href="{% url 'checkout' %}"><button class="btn btn-primary">Оформить</button></a></td>
        </tr>
  </tbody>
</table>
{% endif %}
{% endblock content %}