{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="card info-color wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

        <!-- Content -->
        <div class="card-body text-white text-center py-5 px-5 mb-3 mt-5">

          <div class="container">
              <div class="row">
                  <div class="col-md-5">
                      <img class="img-fluid" src="{% static 'img/logo_white_moscow_big.png' %}">
                  </div>
                  <div class="col-md-7">
                    <div class="card hoverable info-color">
                        <div class="card-body">
                            <h5 class="text-uppercase">Крафтовые алкогольные напитки со всего мира</h5>
                        </div>
                    </div>
                  </div>
              </div>
          </div>

        </div>
        <!-- Content -->
    </section>


    <!--First container-->
    <div class="container">

      <!--Section: Features v.1-->
      <section id="features" class="mb-5">

        <!--Section heading-->
        <h1 class="mb-3 my-3 pt-5 dark-grey-text wow fadeIn text-center" data-wow-delay="0.2s"><strong
            class="font-weight-bold">Почему бизнесу нужны новые технологии?</strong></h1>
          <hr>

        <!--First row-->
        <div class="row features wow fadeIn" data-wow-delay="0.2s">

          <div class="col-lg-3 text-center">
            <div class="icon-area">
              <div class="circle-icon">
                <i class="fas fa-balance-scale blue-text"></i>
              </div>
              <br>
              <h5 class="dark-grey-text font-weight-bold mt-2">Оптимизация</h5>
              <div class="mt-1">
                <p class="mx-3 dark-text">Позволяет уменьшить количество этапов бизнес-процессов.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 text-center">
            <div class="icon-area">
              <div class="circle-icon">
                <i class="fas fa-cogs orange-text"></i>
              </div>
              <br>
              <h5 class="dark-grey-text font-weight-bold mt-2">Автоматизация</h5>
              <div class="mt-1">
                <p class="mx-3 dark-text">Сокращает время выполнения задач, увеличивает производительность</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 text-center mb-4">
            <div class="icon-area">
              <div class="circle-icon">
                <i class="fas fa-funnel-dollar red-text"></i>
              </div>
              <br>
              <h5 class="dark-grey-text font-weight-bold mt-2">- Расходы</h5>
              <div class="mt-1">
                <p class="mx-3 dark-text">Снижает кадровые расходы и затраты на обеспечение рабочих мест.</p>
              </div>
            </div>
          </div>

            <div class="col-lg-3 text-center mb-4">
            <div class="icon-area">
              <div class="circle-icon">
                <i class="fas fa-hand-holding-usd green-text"></i>
              </div>
              <br>
              <h5 class="dark-grey-text font-weight-bold mt-2">Прибыль</h5>
              <div class="mt-1">
                <p class="mx-3 dark-text">Оптимизация работы и сокрашение расходов увеличивает прибыль.</p>
              </div>
            </div>
          </div>


        </div>
        <!--/First row-->

      </section>
      <!--/Section: Features v.1-->

    </div>
    <!--First container-->

    <!--Second container-->
    <div id="about_us" class="container-fluid" style="background-color: #f9f9f9">
      <div class="container py-4">

        <!--Section: Download-->
        <section>

          <!-- First row -->
          <div class="row my-4 pt-5 wow fadeIn" data-wow-delay="0.4s">

            <!-- First column -->
            <div class="col-lg-7 col-md-12 mb-4 text-center">
              <img src="{% static 'img/dostup.jpg' %}" alt=""
                class="img-fluid z-depth-2 rounded">
            </div>
            <!-- /First column -->

            <!-- Second column -->
            <div class="col-lg-5 col-md-12 mb-4 text-left">

              <!--Section heading-->
              <h2 class="mb-3 my-3 dark-grey-text wow fadeIn" data-wow-delay="0.2s"><strong
                  class="font-weight-bold">20 лет</strong> на рынке IT</h2>

              <p class="mb-2">Наша фирма уже многие годы предоставляет различные услуги по внедрению, управлению, обслуживанию ПО и оборудования связанного с информацилнными технологиями.</p>
                <p>Такой большой срок присутствия на рынке обусловлен постоянному следованию за инновациями и использованием самых современных технологических трендов</p>
              <a class="btn btn-white btn-rounded blue-text font-weight-bold ml-0 wow fadeIn" data-wow-delay="0.2s"><i
                  class="fab fa-android pr-2" aria-hidden="true"></i> Наши услуги</a>
              <a class="btn btn-white btn-rounded blue-text font-weight-bold wow fadeIn" data-wow-delay="0.2s"><i
                  class="fab fa-apple pr-2" aria-hidden="true"></i> Наши клиенты</a>
            </div>
            <!-- /.Second column -->

          </div>
          <!-- /.First row -->

        </section>
        <!--/Section: Download-->

      </div>
    </div>
    <!--Second container-->

    <!--Third container-->
    <div class="streak streak-md streak-photo"
      style="background-image:url('media/paralax.jpg')">
      <div class="flex-center white-text blue-gradient-mask">
        <div class="container-fluid py-3">

          <!--Section: Features v.4-->
          <section id="services" class="wow fadeIn" data-wow-delay="0.2s">
            <!--Section heading-->
            <h1 class="py-5 my-5 white-text text-center wow fadeIn" data-wow-delay="0.2s"><strong
                class="font-weight-bold">Наши услуги и сервисы</strong></h1>

            <!--Grid row-->
            <div class="row  mb-5">
                {% for Service in services %}
               <!-- Grid column -->
                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4 d-flex">

                <!-- Card -->
                <div class="card card-cascade cascading-admin-card">

                  <!-- Card Data -->
                  <div class="admin-up">
                    <img class="bg-{{ Service.color }} mr-5 rounded-lg z-depth-2" src="{{ Service.img.url}}" width="25%">
                    <div class="data">
                      <h4 class="text-uppercase font-weight-bold dark-grey-text">{{ Service.name }}</h4>
                    </div>
                  </div>

                  <!-- Card content -->
                  <div class="card-body card-body-cascade">
                        <div class="float-left text-dark">
                            <ul class="mt-2" style="text-align:left; font-size: 0.95em">
                                <li>
                                    {{ Service.s1 }}
                                </li>
                                <li>
                                    {{ Service.s2 }}
                                </li>
                                <li>
                                    {{ Service.s3 }}
                                </li>
                                <li>
                                    {{ Service.s4 }}
                                </li>
                                <li>
                                    {{ Service.s5 }}
                                </li>
                                <li>
                                    {{ Service.s6 }}
                                </li>
                                <li>
                                    {{ Service.s7 }}
                                </li>
                            </ul>
                        </div>
                  </div>
                  <div class="card-footer text-dark">

                    <div>
                        <p class="uppercase"><strong>Технологии:</strong></p>
                        <p style="text-align:left; font-size: 0.85em">
                            {{ Service.stack }}
                        </p>
                    </div>
                    <div class="float-right">
                        <a class="btn btn-outline-{{ Service.color }}" href="{{ Service.link }}">Подробнее</a>
                    </div>

                  </div>

                </div>
                <!-- Card -->

              </div>
               <!-- Grid column -->
                {% endfor %}
            </div>
            <!--Grid row-->


          </section>
          <!--/Section: Features v.4-->
        </div>
      </div>
    </div>
    <!--/Third container-->

{% endblock %}