{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="card spirits-gradient wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

        <!-- Content -->
        <div class="card-body text-white text-center py-5 px-5 mb-3 mt-5">

          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-xs-12">
                      <img class="img-fluid mt-4" src="{% static 'img/logo_white_moscow_big.png' %}">
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <div class="card hoverable info-color-dark">
                        <div class="card-body">
                            <h5 class="text-uppercase">Крафтовые алкогольные напитки</h5>
                            <p>Мир стремительно меняется и алкогольная индустрия продолжает
                                оставаться одной из самых динамичных и инновационных.
                                Новые страны и регионы выходят на рынок и никого уже не
                                удивляет виски из Дании или Австралии, бесконечное
                                многообразие Мексики и победное шествие новых азиатских
                                производителей.
                                Мы, конечно же, не можем оставаться в стороне и продолжаем
                                активный поиск сокровищ по всему свету.
                            </p>
                            <p>
                                <strong>Одно остаётся неизменным</strong> - мы выбираем продукты только
                                высочайшего класса, интересные, натуральные и прекрасно
                                оформленные. Все что нужно для вашего вдохновения!
                            </p>
                        </div>
                    </div>
                  </div>
              </div>
          </div>

        </div>
        <!-- Content -->
    </section>

    <!--Section: Features v.1-->
    <section id="features" class="mb-5">
        <div class="container mt-5 pt-5">
            <!--First row-->
            <div class="row features wow fadeIn" data-wow-delay="0.2s">

                <div class="col-lg-4 text-center">
                <div class="icon-area">
                  <div class="circle-icon">
                    <i class="fas fa-hand-holding-usd blue-text"></i>
                  </div>
                  <br>
                  <h5 class="dark-grey-text font-weight-bold mt-2">Низкие цены</h5>
                  <div class="mt-1">
                    <p class="mx-3 dark-text">Самые низкие цены на рынке напрямую от дистрибьютера</p>
                  </div>
                </div>
                </div>

                <div class="col-lg-4 text-center">
                <div class="icon-area">
                  <div class="circle-icon">
                    <i class="fas fa-barcode red-text"></i>
                  </div>
                  <br>
                  <h5 class="dark-grey-text font-weight-bold mt-2">Маркировка</h5>
                  <div class="mt-1">
                    <p class="mx-3 dark-text">Вся продукция маркированна в соответствии с законодательством</p>
                  </div>
                </div>
                </div>

                <div class="col-lg-4 text-center">
                <div class="icon-area">
                  <div class="circle-icon">
                    <i class="fas fa-leaf green-text"></i>
                  </div>
                  <br>
                  <h5 class="dark-grey-text font-weight-bold mt-2">Органика</h5>
                  <div class="mt-1">
                    <p class="mx-3 dark-text">Для производства используются только органические продукты.</p>
                  </div>
                </div>
                </div>

            </div>
            <!--/First row-->
        </div>
    </section>
    <!--/Section: Features v.1-->
    <hr>

    <section class="mb-5">
        <div class="container-fluide">
            <div class="row mb-3 mt-3">
                <div class="col-md-2 col-lg-2">
                    <h2 class="page-header pt-5 text-center text-info"><strong>АПЕРИТИВЫ</strong></h2>
                </div>
                <div class="col-md-2 col-lg-2 py-2">
                    <img class="img-fluide" src="/media/brands/Dolin.png">
                </div>
                <div class="col-md-2 col-lg-2">
                    <img class="img-fluide" src="/media/brands/Bonal.png">
                </div>
                <div class="col-md-2 col-lg-2">
                    <img class="img-fluide" src="/media/brands/LCWS-Brands.png">
                </div>
                <div class="col-md-2 col-lg-2">
                    <img class="img-fluide" src="/media/brands/Byrrh.png">
                </div>
                <div class="col-md-2 col-lg-2">
                    <img class="img-fluide" src="/media/brands/Grand-Poppy-Greenbar.png">
                </div>
            </div>
        </div>
        <div class="streak streak-md streak-photo img-fluid"
          style="background-image:url('media/paralax.jpg')">
          <div class="flex-center white-text">
            <div class="container-fluid py-3">

              <!--Section: Features v.4-->
              <section class="wow fadeIn" data-wow-delay="0.2s">
                <div class="container pb-3">
                    <div class="row">
                        <div class="col-md-8 col-lg-8">
                            <div class="card text-dark pt-5 pb-3 pr-2 pl-4 mt-4">
                                <div class="card-title">
                                    <h3>Аперетив Caranco Redondo</h3>
                                </div>
                                <div class="card-content">
                                    <p>
                                        Аперитив Carranca Redondo был назван в честь основателя компании
                                        <strong>Destilaria Portugesa</strong>, Хосе Карранка Редондо, родившегося в 1921 году и
                                    основавшего одну из самых уважаемых алкогольных компаний в
                                    Португалии. В основе аперитива – ароматические семена и растения,
                                    среди которых мята, лаванда, кардамон, корица, эвкалипт, а также
                                    другие не менее интересные ингредиенты со всего мира, обогащенные
                                    винным бренди, прошедшим двойную дистилляцию. Во вкусе можно
                                    услышать сложный букет выдержанного бренди, сочетающийся с
                                    натуральными ароматами древесины, семян ароматических растений,
                                    а также сладкого ликера. Создатели бутылки были вдохновлены
                                    старыми бутылками для лекарств и настоек, использовавшимися в
                                    начале прошлого века. Крепость 30 градусов
                                    </p>
                                    <hr>
                                    <p>
                                        <a class="btn btn-info btn-rounded white-text font-weight-bold">В каталог</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 py-4 pr-2 pl-4">
                            <img calss="img-fluid" src="{% static 'img/products/caranco_redondo.png' %}">
                        </div>
                    </div>
                </div>
              </section>
              <!--/Section: Features v.4-->
            </div>
          </div>
        </div>

        <div class="container-fluide">
            <div class="row mb-3 mt-3">
                <div class="col-md-2 col-lg-2">
                    <h2 class="page-header pt-5 text-center text-info"><strong>БИТТЕРЫ</strong></h2>
                </div>
                <div class="col-md-2 col-lg-2 py-2">
                    <img class="img-fluide" src="/media/brands/Dolin.png">
                </div>
                <div class="col-md-2 col-lg-2">
                    <img class="img-fluide" src="/media/brands/Bonal.png">
                </div>
                <div class="col-md-2 col-lg-2">
                    <img class="img-fluide" src="/media/brands/LCWS-Brands.png">
                </div>
                <div class="col-md-2 col-lg-2">
                    <img class="img-fluide" src="/media/brands/Byrrh.png">
                </div>
                <div class="col-md-2 col-lg-2">
                    <img class="img-fluide" src="/media/brands/Grand-Poppy-Greenbar.png">
                </div>
            </div>
        </div>
        <div class="streak streak-md streak-photo img-fluid"
          style="background-image:url('media/paralax_2.jpg')">
          <div class="flex-center white-text">
            <div class="container-fluid py-3">

              <!--Section: Features v.4-->
              <section class="wow fadeIn" data-wow-delay="0.2s">
                <div class="container pb-3">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 py-4 pr-2 pl-4">
                            <img calss="img-fluid" src="{% static 'img/products/dolin_bitter.png' %}">
                        </div>
                        <div class="col-md-8 col-lg-8">
                            <div class="card text-dark pt-5 pb-3 pr-2 pl-4 mt-4">
                                <div class="card-title">
                                    <h3>Биттер DOLIN</h3>
                                </div>
                                <div class="card-content">
                                    <p>
                                        <strong>Биттер – это новое творение легендарного дома из
                                            Шамбери. Dolin</strong> биттер изготовлен из растительных
                                        компонентов и специй, таких как горький апельсин,
                                        горечавка, хинная кислота, размельченная в вине на
                                        долгие недели. Его консистенция во рту постепенно
                                        переходит в мёд, делая его более тонким и легким по
                                        сравнению с конкурентами. Dolin используется в
                                        качестве основы многих коктейлей, а также подается
                                        охлажденным, с долькой апельсина. Идеален для
                                        приготовления Spritz, которому придает особый
                                        горький вкус.
                                    </p>
                                    <hr>
                                    <p>
                                        <a class="btn btn-info btn-rounded white-text font-weight-bold">В каталог</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </section>
              <!--/Section: Features v.4-->
            </div>
          </div>
        </div>
    </section>


{% endblock %}