{% extends 'base.html' %}
{% load static%}

{% block content %}

    <section class="card spirits-gradient wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <!-- Content -->
        <div class="card-body text-white mb-1 mt-4">

          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-xs-12 mt-5 float-left">
                      <h2 class="title mt-3">Регистрация <span class="text-dark">пользователя</span></h2>
                  </div>
                  <div class="col-md-4 col-xs-12 float-right">
                      <img class="img-fluid mt-4" src="{% static 'img/logo_white_very_small.png' %}">
                  </div>
              </div>
          </div>

        </div>
        <!-- Content -->
    </section>

<section class="mt-2">
      <div class="mask rgba-gradient7">
        <div class="container h-100 d-flex justify-content-center align-items-center">

          <!-- Grid row -->
          <div class="row  pt-5 mt-2">

            <!-- Grid column -->
            <div class="col-md-12">

              <div class="card">
                <div class="card-body">

                  <h3 class="text-center mb-5 mt-3 font-weight-bold">
                    <strong>Регистрационные данные нового пользователя</strong>
                  </h3>
                  <hr>

                  <!-- Grid row -->
                  <div class="row mt-5">

                    <!-- Grid column -->
                    <div class="col-md-6 ml-lg-5 ml-md-3">

                      <!-- Grid row -->
                      <div class="row pb-3">
                        <div class="col-2 col-lg-1">
                          <i class="fas fa-university indigo-text fa-lg"></i>
                        </div>
                        <div class="col-10">
                          <h4 class="feature-title">
                            <strong>Safety</strong>
                          </h4>
                          <p class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam ipsam voluptatem quia voluptas minima assumenda deleniti hic.</p>
                        </div>
                      </div>
                      <!-- Grid row -->

                      <!-- Grid row -->
                      <div class="row pb-3">
                        <div class="col-2 col-lg-1">
                          <i class="fas fa-desktop indigo-text fa-lg"></i>
                        </div>
                        <div class="col-10">
                          <h4 class="feature-title">
                            <strong>Technology</strong>
                          </h4>
                          <p class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam ipsam voluptatem quia voluptas minima assumenda deleniti hic.</p>
                        </div>
                      </div>
                      <!-- Grid row -->

                      <!-- Grid row -->
                      <div class="row pb-4">
                        <div class="col-2 col-lg-1">
                          <i class="far fa-money-bill-alt indigo-text fa-lg"></i>
                        </div>
                        <div class="col-10">
                          <h4 class="feature-title">
                            <strong>Finance</strong>
                          </h4>
                          <p class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam ipsam voluptatem quia voluptas minima assumenda deleniti hic.</p>
                        </div>
                      </div>
                      <!-- Grid row -->

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-5">

                        <form method="post" action="{% url 'registration' %}">
                        {% csrf_token %}
                          <!-- Body -->
                          <div class="md-form mb-0">
                            <i class="fas fa-user prefix dark-grey-text"></i>
                            <input type="text" id="orangeForm-name" class="form-control">
                            <label for="orangeForm-name">Your name</label>
                          </div>
                          <div class="md-form mb-0">
                            <i class="fas fa-envelope prefix dark-grey-text"></i>
                            <input type="text" id="orangeForm-email" class="form-control">
                            <label for="orangeForm-email">Your email</label>
                          </div>

                          <div class="md-form mb-0">
                            <i class="fas fa-lock prefix dark-grey-text"></i>
                            <input type="password" id="orangeForm-pass" class="form-control">
                            <label for="orangeForm-pass">Your password</label>
                          </div>

                          <div class="text-center">
                            <button class="btn spirits-dark-gradient text-white font-weight-bold btn-rounded mt-3">Зарегистрировать</button>
                          </div>
                        </form>

                    </div>
                    <!-- Grid column -->

                  </div>
                  <!-- Grid row -->

                </div>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
      </div>
    </section>

{% endblock content %}