{% extends 'base.html' %}
{% load static%}

{% block content %}

		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--start breadcrumb-->
				<section class="py-3 border-bottom d-none d-md-flex">
					<div class="container">
						<div class="page-breadcrumb d-flex align-items-center">
							<h3 class="breadcrumb-title pe-3">Личный кабинет</h3>
							<div class="ms-auto">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb mb-0 p-0">
										<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i> Начало</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">Профиль</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</section>
				<!--end breadcrumb-->
				<!--start shop cart-->
				<section class="py-4">
					<div class="container">
						<h3 class="d-none">Аккаунт</h3>
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-4 nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
										<div class="card shadow-none mb-3 mb-lg-0">
											<div class="card-body">
												<div class="list-group list-group-flush">
                                                    <a class="list-group-item d-flex justify-content-between align-items-center  active bg-transparent"
                                                     id="v-pills-1-tab" data-bs-toggle="pill" type="button" data-bs-target="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">
                                                    Профиль <i class='bx bx-tachometer fs-5'></i>
                                                    </a>
                                                    <a class="list-group-item d-flex justify-content-between align-items-center bg-transparent"
                                                     id="v-pills-2-tab" data-bs-toggle="pill" type="button" data-bs-target="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">
                                                        Заказы <i class='bx bx-cart-alt fs-5'></i>
                                                    </a>
                                                    <a class="list-group-item d-flex justify-content-between align-items-center bg-transparent"
                                                     id="v-pills-3-tab" data-bs-toggle="pill" type="button" data-bs-target="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">
                                                        Адреса <i class='bx bx-home-smile fs-5'></i>
                                                    </a>
                                                    <a class="list-group-item d-flex justify-content-between align-items-center bg-transparent"
                                                     id="v-pills-4-tab" data-bs-toggle="pill" type="button" data-bs-target="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">
                                                        Настройки <i class='bx bx-user-circle fs-5'></i>
                                                    </a>
                                                    <a href="{% url 'logout' %}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
                                                        Выход <i class='bx bx-log-out fs-5'></i>
                                                    </a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-8 tab-content" id="v-pills-tabContent">
										<div class="card shadow-none mb-0 tab-pane show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
											<div class="card-body">
												<p>Здравствуйте <strong>{{ customer.user.first_name }} {{ customer.user.last_name }} ({{ user.username }})</strong> (если это не вы, <a href="{% url 'logout' %}">Выйдете</a>)</p>
												<p>Возраст {{ customer.age }} {{ customer.age_last }}</p>
											</div>
										</div>
                                        <div class="card shadow-none mb-0 tab-pane" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
											<div class="card-body">
                                                <div class="table-responsive">
													<table class="table">
														<thead class="table-light">
															<tr>
																<th>Номер</th>
																<th>Дата создания</th>
																<th>Статус</th>
																<th>Сумма</th>
																<th></th>
															</tr>
														</thead>
														<tbody>
                                                        {% for Order in customer.orders.all %}
															<tr>
																<td>#{{ Order }}</td>
																<td>{{ Order.created_at }}</td>
																<td class="">
																	<div class="badge rounded-pill bg-light w-100">{{ Order.status }}</div>
																</td>
																<td>{{ Order.cart.final_price }}</td>
																<td>
																	<div class="d-flex gap-2">	<a href="{% url 'order-detail' Order.pk %}" class="btn btn-light btn-sm rounded-0">Открыть</a>
																	</div>
																</td>
															</tr>
                                                        {% endfor %}
														</tbody>
													</table>
												</div>
											</div>
										</div>
                                        <div class="card shadow-none mb-0 tab-pane" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
											<div class="card-body">
                                                <h6 class="mb-4">Адреса используемые для доставки:</h6>
												<div class="row">
                                                    {% for Address in customer.addresses.all %}
                                                    <div class="col-12 col-lg-6">
                                                        <div class="d-flex align-items-center">
                                                            <div class="ms-2">
                                                                <h5 class="mb-0">Адрес {{ Address.id }}</h5>
                                                            </div>
                                                            <div class="ms-auto">
                                                                <a class="btn btn-light btn-sm"><i class="bx bx-edit"></i></a>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <address>
                                                            Город: {{ Address.city }}<br>
                                                            Ст. метро: {% if Address.metro != Null %}{{ Address.metro }}{% else %}нет{% endif %}<br>
                                                            Улица: {{ Address.street }}<br>
                                                            Дом: {{ Address.building }}<br>
                                                            {% if Address.apartment == Null %}Квартира: не указана<br>{% else %}Квартира: {{ Address.apartment }}<br>{% endif %}
                                                            {% if Address.entrance == Null %}Подъезд: не указан<br>{% else %}Подъезд: {{ Address.entrance }}{% endif %}
                                                            <hr>
                                                            {% if Address.primary == True %}<strong>Основной</strong>{% else %}Дополнительный{% endif %}<br>
												        </address>
													</div>
                                                    {% endfor %}
												</div>
											</div>
										</div>
                                        <div class="card shadow-none mb-0 tab-pane" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
											<div class="card-body">
												<p>Hello <strong>4</strong> (not <strong>Madison Ruiz?</strong>  <a href="javascript:;">Logout</a>)</p>
												<p>From your account dashboard you can view your Recent Orders, manage your shipping and billing addesses and edit your password and account details</p>
											</div>
										</div>
									</div>
								</div>
								<!--end row-->
							</div>
						</div>
					</div>
				</section>
				<!--end shop cart-->
			</div>
		</div>
		<!--end page wrapper -->
{% endblock content %}