{% extends 'base.html' %}
{% load static%}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}

{% block content %}

		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--start breadcrumb-->
				<section class="py-3 border-bottom d-none d-md-flex">
					<div class="container">
						<div class="page-breadcrumb d-flex align-items-center">
							<h3 class="breadcrumb-title pe-3">Регистрация пользователя</h3>
							<div class="ms-auto">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb mb-0 p-0">
										<li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="bx bx-home-alt"></i> Начало</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">Регистрация</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</section>
				<!--end breadcrumb-->
				<!--start shop cart-->
				<section class="py-0 py-lg-5">
					<div class="container">
						<div class="py-5 d-flex align-items-center justify-content-center my-5 my-lg-0">
							<div class="row row-cols-1 row-cols-lg-1 row-cols-xl-2">
								<div class="col mx-auto">
									<div class="card mb-0">
										<div class="card-body">
											<div class="border p-4 rounded">
												<div class="text-center">
													<h3 class="">Регистрация</h3>
													<p>Уже есть аккаунт? <a href="{% url 'login' %}"> Войдите здесь</a>
													</p>
												</div>
												<div class="form-body">
													<form class="row g-3" method="post" action="{% url 'registration' %}">
                                                        {% csrf_token %}
														<div class="col-sm-6">
															<label for="inputFirstName" class="form-label">Имя</label>
															{% crispy_field form.first_name 'class' 'form-control border-end-0' 'placeholder' 'Ваше Имя' %}
														</div>
														<div class="col-sm-6">
															<label for="inputLastName" class="form-label">Фамилия</label>
															{% crispy_field form.last_name 'class' 'form-control border-end-0' 'placeholder' 'Фамилия' %}
														</div>
                                                        <div class="col-sm-6">
															<label for="inputUserName" class="form-label">Логин</label>
															{% crispy_field form.username 'class' 'form-control border-end-0' 'placeholder' 'Логин' %}
														</div>
                                                        <div class="col-sm-6">
															<label for="inputDateOfBirth" class="form-label">Дата рождения</label>
															{% crispy_field form.birth_date 'id' 'datepicker' 'class' 'form-control border-end-0' 'placeholder' '01.12.2003' %}
														</div>
                                                        <div class="col-sm-6 ">
															<label for="inputChoosePassword" class="form-label">Пароль</label>
                                                            {% crispy_field form.password 'class' 'form-control border-end-0' 'placeholder' 'Введите пароль' %}
														</div>
                                                        <div class="col-sm-6">
															<label for="inputChoosePassword" class="form-label">Подтверждение</label>
                                                            {% crispy_field form.confirm_password 'class' 'form-control border-end-0' 'placeholder' 'Введите пароль' %}
														</div>
                                                        <div class="col-sm-6">
															<label for="inputChoosePhone" class="form-label">Номер телефона</label>
                                                            {% crispy_field form.phone 'class' 'form-control border-end-0' 'placeholder' '+7(999)999-99-99' %}
														</div>
														<div class="col-sm-6">
															<label for="inputEmailAddress" class="form-label">Email</label>
															{% crispy_field form.email 'class' 'form-control border-end-0' 'placeholder' 'Ваша электронная почта' %}
														</div>
														<div class="col-12">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
																<label class="form-check-label" for="flexSwitchCheckChecked">I read and agree to Terms & Conditions</label>
															</div>
														</div>
														<div class="col-12">
															<div class="d-grid">
																<button type="submit" class="btn btn-light"><i class='bx bx-user'></i>Зарегистрироваться</button>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end row-->
						</div>
					</div>
				</section>
				<!--end shop cart-->
			</div>
		</div>
		<!--end page wrapper -->

{% endblock content %}